* {
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
    margin: auto;
}

h1 {
    color : orange;
    margin-top: 15px;
    margin-bottom: 15px;
}

#textbox {
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px rgb(255, 117, 117) solid;
    padding: 5px;
    font-size: 1.1em;
}

button {
    margin-top: 10px;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: rgb(255, 100, 100);
}

button:hover {
        background-color: rgb(255, 150, 150);
}

form {
    margin-top: 25px;
    max-width: 350px;
    border: 3px solid rgb(173, 173, 173);
    border-radius: 5px;
    padding: 25px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

label {
    font-size: 1.3em;
    font-weight: bold;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}